{% extends 'worker/worker_dashboard.html' %}
{% block worker %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bgg.jpg'); height: 500px; object-fit: cover !important;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <!-- <h1 class="mb-2 bread">Contact Us</h1> -->
          <p class="breadcrumbs"><span class="mr-2"><a href="/worker-dashboard">Worker <i class="ion-ios-arrow-forward"></i></a></span> <span>Add Child Care Tips <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
      
      <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
          <div class="container ">
              <div class="row d-flex align-items-stretch no-gutters ">
                  <div class="col-md-6 p-4 p-md-5 order-md-last bg-light mx-auto mt-5">
                    <p style="text-align: center;"><b><i>Add Child Care Tips</i></b></p>
                      <form action="" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                              <input type="text" class="form-control" pattern="[a-zA-Z ]+" name="tipname" placeholder="Tip Name">
                          </div>
                          <div class="form-group">
                            <textarea name="tipdesc" id="" cols="30" rows="7" class="form-control" placeholder="Tip Description"></textarea>
                          </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-primary py-3 px-5" style="border-radius: 5px; background-color: palevioletred; border-color: pink;">
                                  Add
                                </button>
                          </div>
                      </form>
                  </div>
                  
              </div>
          </div>
      </section>
     

    <style>
      table {
          border-collapse: collapse;
          width: 50%;
      }
  
      th,
      td {
          text-align: center;
          padding: 8px;
      }
  
      /* tr:nth-child(even) { */
          /* background-color: #D6EEEE; */
      /* } */
  
      img {
          width: 100px;
          height: 100px;
      }
  
      #img {
          width: 40px;
          height: 40px;
      }
  </style>
  
  <div class="col-md-8">
      <div class="section-heading mb-sm-5 mb-4">
        <p style="text-align: center; font-size: 3rem; margin-left: 40%; margin-top: 5%;"><b><i>Child Care Tips</i></b></p>
      </div>
  </div>
  <table id="myTable" style="margin-left: 27%; margin-top: -1%;">
      <tr class="header">
       
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
         
            {% for tip in tips %}
            <tr>
              <td>{{tip.tip_name}}</td>
              <td>{{tip.tip_desc}}</td>
              <td><a href="/worker-deletecaretip?tipid={{tip.id}}" class="btn btn-primary py-2 px-4" style="border-radius: 5px; background-color: palevioletred; border-color: pink;">Delete</a>
                  <a href="/worker-updatecaretip?tipid={{tip.id}}" class="btn btn-primary py-2 px-4" style="border-radius: 5px; background-color: palevioletred; border-color: pink; ">Update</a>
              </td>
            </tr>
            {% endfor %}
    </table><br><br>
{% endblock worker %}