{% extends 'worker/worker_dashboard.html' %}
{% block worker %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bgg.jpg'); height: 500px; object-fit: cover !important;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <!-- <h1 class="mb-2 bread">Contact Us</h1> -->
          <p class="breadcrumbs"><span class="mr-2"><a href="/worker-dashboard">Worker <i class="ion-ios-arrow-forward"></i></a></span> <span>View Government Schemes <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
      
      <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        
        <div class="container ">
            
            <div class="row d-flex align-items-stretch no-gutters ">
                
                <div class="col-md-11 p-4 p-md-5 order-md-last  mx-auto mt-3">
                    <p style="text-align: center; font-size: 3rem; margin-left: -10%; margin-top: 3%;"><b><i>Government Schemes</i></b></p>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Published Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Eligibility</th>
                            <th scope="col">Procedure</th>
                            <!-- <th scope="col">Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                            {% for scheme in schemes %}
                          <tr>
                            <td>{{scheme.published_on}}</td>
                            <td>{{scheme.scheme_name}}</td>
                            <td>{{scheme.scheme_desc}}</td>
                            <td>{{scheme.scheme_eligibility}}</td>
                            <td>{{scheme.scheme_procedure}}</td>
                            <!-- <td><a href="/admin-deletescheme?sid={{scheme.id}}" class="btn btn-primary py-2 px-4" style="border-radius: 5px; background-color: palevioletred; border-color: pink;">Delete</a>
                                <a href="/admin-updatescheme?sid={{scheme.id}}" class="btn btn-primary py-2 px-4" style="border-radius: 5px; background-color: palevioletred; border-color: pink; ">Update</a>
                            </td> -->
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
    </section>
{% endblock worker %}