{% extends 'panchayat/panchayat_dashboard.html' %}
{% block panchayat %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bgg.jpg'); height: 500px; object-fit: cover !important;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <!-- <h1 class="mb-2 bread">Contact Us</h1> -->
          <p class="breadcrumbs"><span class="mr-2"><a href="/panchayat-dashboard">Panchayat <i class="ion-ios-arrow-forward"></i></a></span> <span>Update Health Center <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
      
  <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
  <div class="container ">
      <div class="row d-flex align-items-stretch no-gutters ">
          <div class="col-md-6 p-4 p-md-5 order-md-last bg-light mx-auto mt-5">
              <form action="" method="post">
                  {% csrf_token %}
                 
             <div class="form-group">
                <input type="text" class="form-control" value="{{health.health_name}}" name="hname" pattern="[a-zA-Z ]+" placeholder="Hospital Name">
             </div>
            
              <div class="form-group">
                <input type="text" class="form-control" value="{{health.health_phone}}" name="phone" placeholder="Phone" pattern="[789][0-9]{9}">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" value="{{health.email}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" placeholder="Email" >
            </div>
            <div class="form-group">
                <textarea name="address" id="" cols="30" rows="7" class="form-control" placeholder="Address">{{health.health_address}}</textarea>
              </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary py-3 px-5" style="border-radius: 5px; background-color: palevioletred; border-color: pink;">
                          Update
                        </button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</section>
      
{% endblock panchayat %}