{% extends 'panchayat/panchayat_dashboard.html' %}
{% block panchayat %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bgg.jpg'); height: 500px; object-fit: cover !important;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <!-- <h1 class="mb-2 bread">Contact Us</h1> -->
          <p class="breadcrumbs"><span class="mr-2"><a href="/panchayat-dashboard">Panchayat <i class="ion-ios-arrow-forward"></i></a></span> <span>Add Worker <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
      
  <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
  <div class="container ">
      <div class="row d-flex align-items-stretch no-gutters ">
          <div class="col-md-6 p-4 p-md-5 order-md-last bg-light mx-auto mt-5">
              <form action="" method="post">
                  {% csrf_token %}
                  <select class="form-select" name="wardid" aria-label="Default select example" style="height: 52px !important; background: #fff !important; color: grey !important; font-size: 18px; border-radius: 0px; -webkit-box-shadow: none !important; box-shadow: none !important; border: 1px solid rgba(0, 0, 0, 0.1); display: block; width: 100%; padding: 0.375rem 0.75rem;font-weight: 400; line-height: 1.5;">
                    <option selected disabled>Select Ward</option>
                    {% for ward in wards %}
                    <option value="{{ward}}">{{ward}}</option>
                    {% endfor %}
             </select><br>
             <div class="form-group">
                <input type="text" class="form-control" pattern="[a-zA-Z ]+" name="fname" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" pattern="[a-zA-Z ]+" name="lname" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="uname" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="pwd" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$"  placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="age"  placeholder="Age">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" placeholder="Phone" pattern="[789][0-9]{9}">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" >
            </div>
            <div class="form-group">
                <textarea name="address" id="" cols="30" rows="7" class="form-control" placeholder="Address"></textarea>
              </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary py-3 px-5" style="border-radius: 5px; background-color: palevioletred; border-color: pink;">
                          Add
                        </button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</section>
      
{% endblock panchayat %}