{% extends 'admin/admin_dashboard.html' %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bgg.jpg'); height: 500px; object-fit: cover !important;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <!-- <h1 class="mb-2 bread">Contact Us</h1> -->
          <p class="breadcrumbs"><span class="mr-2"><a href="/admin-dashboard">Admin <i class="ion-ios-arrow-forward"></i></a></span> <span>View Food <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
      <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        
        <div class="container ">
            
            <div class="row d-flex align-items-stretch no-gutters ">
                
                <div class="col-md-6 p-4 p-md-5 order-md-last bg-light mx-auto mt-5">
                    <p style="text-align: center;"><b><i>Food Details</i></b></p>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Given Date</th>
                            <th scope="col">Food Name</th>
                            <th scope="col">Units</th>
                            <th scope="col">For</th>
                            <th scope="col">Description</th>
                            <!-- <th scope="col">Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                            {% for food in foods %}
                          <tr>
                        
                            <td>{{food.given_on}}</td>
                            <td>{{food.food_list}}</td>
                            <td>{{food.unit}}</td>
                            <td>{{food.food_for}}</td>
                            <td>{{food.detail_desc}}</td>
                            <!-- <td><a href="/worker-deletemotherfood?fid={{food.id}}" class="btn btn-primary py-2 px-4" style="border-radius: 5px; background-color: palevioletred; border-color: pink;">Delete</a> -->
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
    </section>
    
    
{% endblock %}