{% extends 'health/healthcenter_dashboard.html' %}
{% block health %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bgg.jpg'); height: 500px; object-fit: cover !important;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <!-- <h1 class="mb-2 bread">Contact Us</h1> -->
          <p class="breadcrumbs"><span class="mr-2"><a href="/healthcenter-dashboard">HealthCenter <i class="ion-ios-arrow-forward"></i></a></span> <span>Add Vaccinations Info List<i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
      
  <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
  <div class="container ">
      <div class="row d-flex align-items-stretch no-gutters ">
          <div class="col-md-6 p-4 p-md-5 order-md-last bg-light mx-auto mt-5">
              <form action="" method="post">
                  {% csrf_token %}
                 
             <div class="form-group">
                <input type="text" class="form-control" pattern="[a-zA-Z ]+" name="title" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <textarea name="desc" id="" cols="30" rows="7" class="form-control" placeholder="Description"></textarea>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="age" placeholder="Age">
            </div>
              <div class="form-group">
                <textarea name="prevention" id="" cols="30" rows="7" class="form-control" placeholder="Prevention"></textarea>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="dose" placeholder="Enter dose">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="availablecount" placeholder="Enter available count">
            </div>
            <div class="form-group">
              <input type="date" id="date" class="form-control" name="vdate" placeholder="Vaccination Date">
            </div>
            <div class="form-group">
                <input type="time" class="form-control" name="vfrom" placeholder="Vaccination From Date">
            </div>
            <div class="form-group">
                <input type="time" class="form-control" name="vto" placeholder="Vaccination To Date">
            </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary py-3 px-5" style="border-radius: 5px; background-color: palevioletred; border-color: pink;">
                          Add
                        </button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        
    <div class="container ">
        
        <div class="row d-flex ">
            <p style="text-align: center;font-size: 3rem; margin-left: 30%; margin-top: 5%;"><b><i>View Vaccineinfo</i></b></p>
            <div class="col-md-6 mx-auto mt-5">
                
            </div>
            
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">PublishedDate</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Age</th>
                        <th scope="col">Prevention</th>
                        <th scope="col">Dose</th>
                        <th>Number</th>
                        <th scope="col">Vaccination Date</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for vaccine in vaccines %}
                      <tr>
                        <td>{{vaccine.published_on}}</td>
                        <td>{{vaccine.vaccination_name}}</td>
                        <td>{{vaccine.vaccination_desc}}</td>
                        <td>{{vaccine.vaccination_age}}</td>
                        <td>{{vaccine.disease_prevented}}</td>
                        <td>{{vaccine.dose}}</td>
                        <td>{{vaccine.availabecount}}</td>
                        
                            <td>{{ vaccine.vaccination_date }}</td>
                            <td>{{ vaccine.vaccination_from }} - {{ vaccine.vaccination_to }}</td>
                    
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
        </div>
    </div>
</section>
{% endblock health %}